<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>Hey there!</h1>
			<h2>This is a testbed/app sandbox powered by Ruby on Rails.</h2>
			<h3>Check out the apps I created on the navbar above.</h3>
			<h4>Actions that could be executed could be found on the right side of the navbar.</h4>
		</div>
	</div>
</div>