<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>Edit Post</h1>
			<h4>Edit an existing post.</h4>

			<%= render 'form' %>

		</div><!-- /.col-xs-12 -->
	</div><!-- /.row -->
</div><!-- /.container -->