<div class="container">
	<div class="row">
		<div class="col-xs-12">

			<h1>Blog</h1>
			<h4>A simple blog. Login with test account to edit and delete posts and comments.</h4><br>

			<% @posts.each do |post| %>
				<div class="post_wrapper">
					<h2 class="title">
						<%= link_to post.title, post %>
					</h2>
					<p class="date">
						<%= post.created_at.strftime("%B, %d, %Y") %>
					</p>
					<p class="excerpt">
						<%= truncate(post.body, length: 300) %>
					</p>
				</div>
				<hr>
			<% end %>
		</div><!-- /.col-xs-12 -->
	</div><!-- /.row -->
</div><!-- /.container -->
